{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create a New Encyclopedia Entry</h1>
    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content (Markdown):</label><br>
        <textarea id="content" name="content" rows="10" required></textarea><br>
        <input type="submit" value="Save">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
